.css-k1vhr4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: -120px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height:400px;
    width: 500px;
    border-radius: 5px;
    margin-left:20px;
}

.css-ocqkz7 e1tzin5v4{
background-color: red;
}

[data-testid="stHorizontalBlockj"]{
    background-color: darkcyan;
}

.css-2ykyy6 {
    display: block;
    color: rgba(250, 250, 250, 0.4);
    flex: 0 1 0%;
    font-size: 14px;
    min-width: auto;
    max-width: initial;
    padding: 0.5rem 1rem;
    width: 100%;
    padding-top: 1px;
background-color: black;
}

[data-testid="stAppViewContainer"] {
    /*background-color: #0D2A54;
background: rgb(11,5,112);
background: linear-gradient(90deg, rgba(11,5,112,1) 0%, rgba(27,27,163,1) 47%, rgba(57,147,166,1) 100%);*/
background: rgb(11,5,112);
background: linear-gradient(90deg, rgba(11,5,112,1) 0%, rgba(27,27,163,1) 47%, rgba(166,57,160,1) 100%);
}


.st-c6 {
    padding-right: 0.5rem;
    width: 1px;
    background-color: #2781FF;
}

/**/
.css-hxt7ib {
    padding-top: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
}


p, ol, ul, dl {
    margin: 0px 0px 1rem;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: - 10px;
}


.css-pmxsec .exg6vvm15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.css-9ycgxx {

    margin-bottom: 0.25rem;
}

.css-7oyrr6 {
    color: rgba(250, 250, 250, 0.6);
    font-size: 14px;
    line-height: 1.25;
}

.css-16u8z0w.edgvbvh9{
    margin-top: 34px;
}

.css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    min-width: auto;
    max-width: initial;
    padding-top:5px;
}

.css-2ykyy6 {
    display: block;
    color: rgba(250, 250, 250, 0.4);
    flex: 0 1 0%;
    font-size: 14px;
    min-width: auto;
    max-width: initial;
    /*padding: 0.5rem 1rem;*/
    width: 100%;
    padding-top:1px;
}